<dialog id="alert">
    <header>
        <h2 id="alert__title">Titulo de la alerta</h2>
        <div>
            <button id="alert__close" type="button"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg></button>
        </div>
    </header>

    <section id="alert__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat in architecto asperiores autem voluptatem libero placeat nisi odit voluptatum quas?
    </section>

    <footer>
        <button id="alert__cancel" type="button">Cancelar</button>
        <button id="alert__aceptar" type="button">Aceptar</button>
    </footer>
</dialog>



<script src="/js/alert.js">
</script>

