<nav class="p-2">
  <div class="nav justify-content-center">
    <a href="" class="nav-logo">
      <img src="/img/logo.png" width="40" alt="logotipo de revs">
      Revs Admin
    </a>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link"href="/admin"><ion-icon name="home"></ion-icon> Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin-webs"><ion-icon name="globe"></ion-icon> Webs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin-users"><ion-icon name="people"></ion-icon> Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin-messages"><ion-icon name="chatbubble-ellipses"></ion-icon> Mensajes</a>
    </li>
  </ul>
</nav>