<!DOCTYPE html>
<html lang="es_MX">
<%-include('partials/head.ejs')%>
<body>

    <%-include('partials/navbar.ejs')%>

    <%-include('partials/sidebar.ejs')%>


    <main class="container getting">
        <h1 class="f-averia getting__title">Empecemos</h1>
        <p class="getting__text">Encuentra recursos útiles para desarrolladores y diseñadores en un solo lugar. Este sitio web ofrece una variedad de librerías gratuitas y premium que incluyen herramientas, plugins, fuentes, iconos, biblioteca de imágenes, frameworks CSS, animaciones para sitios web, desafíos y mucho más. Descubre cómo enriquecer tus proyectos y llevarlos al siguiente nivel con nuestra selección de recursos.</p>
    </main>


    <div class="separador"></div>

    <%-include('partials/carouselPopulars.ejs')%>

    <script>
        document.querySelectorAll('.link')[1].style.color="var(--colorPrimary)";
        document.querySelectorAll('.link')[1].style.pointerEvents = "none"
    </script>




</body>
</html>